streamlit
pandas
numpy
matplotlib
scikit-learn
beautifulsoup4
requests
snscrape
streamlit-option-menu
selenium
playwright
plotly
python-dotenv
openai
cohere
transformers>=4.30.0
torch>=1.10.0
sentencepiece
